.A{
    color: blue;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
.B{
    color:green;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}